@media (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .main-content {
    margin-left: 0;
    padding: 0 16px;
  }

  .navbar {
    display: block;
  }
}

@media (max-width: 600px) {
  .showcase-img {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .designer-container2 {
    grid-template-columns: 1fr;
  }
}
